example/workflows/test.yml
TestQueueGranules:
  Comment: 'Test queue granules'
  StartAt: StartStatus
  States:
    StartStatus:
      Type: Task
      Resource: ${sf2snsStartLambdaFunction.Arn}
      Next: ReadQueue
    ReadQueue:
      CumulusConfig:
        cumulus_message:
          outputs:
            - source: '{$}'
              destination: '{$.payload}'
            - source: '{$.sqs_message}'
              destination: '{$.meta.sqs_message}'
      Type: Task
      Resource: ${ReadEventLambdaFunction.Arn}
      Catch:
        - ErrorEquals:
          - States.ALL
          Next: StopStatus
      Next: QueueChoice
    QueueChoice:
      Type: Choice
      Choices:
        - Variable: $.payload.OBJECTS
          NumericEquals: 0
          Next: StopStatus
        - Variable: $.payload.OBJECTS
          NumericGreaterThan: 0
          Next: QueueGranules
    QueueGranules:
      CumulusConfig:
        provider: '{$.meta.provider}'
        internalBucket: '{$.meta.buckets.internal.name}'
        stackName: '{$.meta.stack}'
        granuleIngestMessageTemplateUri: '{$.meta.templates.HelloWorldWorkflow}'
        queueUrl: '{$.meta.queues.startSF}'
      Type: Task
      Resource: ${QueueGranulesLambdaFunction.Arn}
      Catch:
        - ErrorEquals:
          - States.ALL
          ResultPath: '$.exception'
          Next: StopStatus
      Next: StopStatus
    StopStatus:
      Type: Task
      Resource: ${SfSnsReportLambdaFunction.Arn}
      CumulusConfig:
        sfnEnd: true
        stack: '{$.meta.stack}'
        bucket: '{$.meta.buckets.internal.name}'
        stateMachine: '{$.cumulus_meta.state_machine}'
        executionName: '{$.cumulus_meta.execution_name}'
        cumulus_message:
          input: '{$}'
      Catch:
        - ErrorEquals:
          - States.ALL
          Next: WorkflowFailed
      End: true
    WorkflowFailed:
      Type: Fail
      Cause: 'Workflow failed'

